@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v13/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}
.grid-container.fluid {
  width: 100%;
  padding: 0;
  position: absolute;
  z-index: 100;
}
.grid-container.fluid .top-bar {
  background: #000;
}
.grid-container.fluid .top-bar .menu.medium-horizontal {
  background: #000;
}
.grid-container.fluid .top-bar .top-bar-right {
  z-index: 100;
}
.grid-container.fluid .top-bar a {
  color: #fff;
  font-family: 'open sans condensed', 'helvetica neue condensed', arial, helvetica, sans-serif;
  -webkit-text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  -moz-text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  -0-text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
}
.grid-container.fluid .top-bar a:hover {
  text-decoration: underline;
}
.grid-container.fluid .top-bar a.btn-cta {
  background: transparent;
  font-size: 1rem;
}
.grid-container.fluid .top-bar a.btn-cta:hover {
  background: #fff;
  color: #d84f00;
  -webkit-text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  -moz-text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  -o-text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
}
.grid-container.fluid .top-bar .current a:hover {
  text-decoration: none;
  cursor: default;
}
.about .grid-container.fluid .top-bar {
  margin-bottom: 2.25rem;
}
.about .grid-container.fluid .top-bar .current a {
  color: #1c6eb9;
}
.about .grid-container.fluid .top-bar a {
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  .top-bar a {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .top-bar a.btn-cta {
    font-size: 1.5em !important;
    line-height: 1.5em;
  }
  .about .grid-container.fluid .top-bar .current a {
    color: #1c6eb9;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
  .grid-container.fluid {
    padding: 0;
    position: relative;
  }
  .grid-container.fluid .top-bar {
    background: transparent;
  }
  .grid-container.fluid .top-bar .menu.medium-horizontal {
    background: transparent;
  }
  .about .grid-container.fluid .top-bar {
    background: #93c0e9;
  }
}
/* Medium only */
/* Large and up */
@media screen and (min-width: 64em) {
  .carousel-container .grid-container.fluid.carousel-cell .cell h1 {
    font-size: 3.25rem;
  }
  .grid-container h3 {
    font-size: 2rem;
  }
}
/* Large only */
.carousel-container {
  min-height: 28.938rem;
}
.homepage .grid-container.carousel-cell {
  min-height: 31.438em;
  padding: 1.563rem;
  background: #fff no-repeat center center / cover;
}
.homepage .grid-container.carousel-cell[data-img] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s linear;
  z-index: 0;
}
.homepage .grid-container.carousel-cell[data-img].current {
  display: block;
  opacity: 1;
  z-index: 1;
}
.homepage .grid-container.carousel-cell:nth-child(2) {
  background: #fff no-repeat center center / cover;
}
.homepage .grid-container.carousel-cell:nth-child(2) .cell h1 {
  color: #fff;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
}
.homepage .grid-container.carousel-cell:nth-child(2) .cell h1 br {
  display: none;
}
.homepage .grid-container.carousel-cell:nth-child(3) {
  background: #fff no-repeat center center / cover;
}
.homepage .grid-container.carousel-cell .cell {
  text-align: center;
}
.homepage .grid-container.carousel-cell .cell h1 {
  margin-bottom: 1.25rem;
  color: #333;
  font-weight: bold;
  -webkit-text-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.8), 0 0 0.625em rgba(255, 255, 255, 0.8);
  -moz-text-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.8), 0 0 0.625em rgba(255, 255, 255, 0.8);
  -o-text-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.8), 0 0 0.625em rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.8), 0 0 0.625em rgba(255, 255, 255, 0.8);
}
.homepage .grid-container.carousel-cell .text-area {
  margin: 0 auto;
  padding: 0.875rem 0.875rem 1.875rem;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: inline-block;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  border-radius: 0.75rem;
}
.homepage .grid-container.carousel-cell .text-area p {
  margin-bottom: 1.25rem;
}
.homepage .grid-container.carousel-cell .text-area br {
  display: none;
}
.homepage .grid-container.carousel-cell .text-area .btn-cta {
  font-size: 1.25rem;
}
@media screen and (min-width: 40em) {
  .carousel-container {
    margin-top: -3.5rem;
    min-height: 45.625em;
    position: relative;
  }
  .carousel-container .grid-container.fluid.carousel-cell {
    height: 45.625em;
    width: 100%;
  }
  .carousel-container .grid-container.fluid.carousel-cell[data-img] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s linear;
  }
  .carousel-container .grid-container.fluid.carousel-cell[data-img].current {
    display: block;
    opacity: 1;
  }
  .carousel-container .grid-container.fluid.carousel-cell .cell {
    margin-top: 6.25em;
    margin-right: 2.5rem;
    padding: 3.125em 0 3.75rem;
  }
  .carousel-container .grid-container.fluid.carousel-cell .cell h1 {
    margin-bottom: 2.5rem;
    font-weight: 400;
    font-size: 3rem;
  }
  .carousel-container .grid-container.fluid.carousel-cell .cell h1 br {
    display: block;
  }
  .carousel-container .grid-container.fluid.carousel-cell .cell .text-area {
    padding: 1.25rem 1.25rem 1.875em;
    font-size: 1.25rem;
  }
  .carousel-container .grid-container.fluid.carousel-cell .cell .text-area br {
    display: block;
  }
  .carousel-container .grid-container.fluid.carousel-cell .cell .text-area .btn-cta {
    font-size: 1.425rem;
  }
}
.team-sort .button {
  background: transparent;
  border: 1px solid #93c0e9;
}
.team-sort ul {
  margin: 1.25rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team-sort ul li {
  color: #93c0e9;
  margin: 0.625em 0;
  list-style-type: none;
  cursor: pointer;
  transition: all 0.25s linear;
}
.team-sort ul li:hover {
  background: #93c0e9;
  color: #fff;
  text-decoration: underline;
}
.space {
  min-height: 46.25rem;
  padding: 0.625rem 1.25rem;
}
.team-info {
  transition: all 0.5s linear;
}
.vanish {
  width: 0 !important;
  height: 0 !important;
  transform: scale(0);
}
.selected {
  display: block;
}
.team-tab.selected {
  background: #ccc;
  color: #fff;
  border: none;
}
.team-tab.selected:hover {
  background: #ccc;
  color: #fff;
  text-decoration: none;
  border: none;
}
.homepage .grid-container h3 {
  color: #93c0e9;
  font-size: 1.5em;
}
.homepage .grid-container .cell {
  margin: 1rem auto;
  text-align: center;
}
.homepage .grid-container .cell:first-child {
  margin: 4.5rem auto 0;
}
.homepage .grid-container .cell:last-child {
  margin-bottom: 2.5rem;
}
.homepage .grid-container .cell img {
  margin-bottom: 1.563rem;
}
.homepage .grid-container .cell p {
  margin: 0 auto;
}
.homepage .grid-container .btn-cta {
  font-size: 1.25rem;
}
.about .grid-container .grid-x {
  justify-content: center;
}
.about .grid-container .cell {
  margin-top: 1.25rem;
  text-align: center;
}
.about .grid-container h1 {
  color: #93c0e9;
}
.about .grid-container img {
  margin-bottom: 1.563em;
  width: 50%;
  border: 0.063rem solid #333;
  border-radius: 50%;
}
.about .grid-container h2 {
  font-size: 1.75rem;
  font-family: 'open sans condensed', 'helvetica neue condensed', arial, helvetica, sans-serif;
}
.about .grid-container h3 {
  color: #93c0e9;
  font-size: 1.125rem;
}
.about .grid-container p {
  font-size: 1rem;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  .grid-container .cell {
    margin-top: 3.75rem !important;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
  .homepage .grid-container h3 {
    font-size: 1.75rem;
  }
  .homepage .grid-container .cell {
    margin: 2.5rem auto;
  }
  .about .medium-offset-4 {
    margin-right: calc(33.33333% + 0.9375rem);
  }
  .about .cell:nth-child(n+2) {
    margin-top: 2.5rem;
  }
}
/* Medium only */
/* Large and up */
/* Large only */
footer {
  margin-top: 3.125em;
  padding: 1.25rem 0;
  background: #93c0e9;
  text-align: center;
  border-top: 0.063rem solid #333;
}
footer .copyright {
  margin-bottom: 0.313em;
  font-size: 0.875em;
}
/* Small only */
/* Medium and up */
@media screen and (min-width: 40em) {
  footer br {
    display: none;
  }
}
/* Medium only */
/* Large and up */
/* Large only */
/* Navigation */
html,
body {
  font-family: 'open sans', arial, helvetica, sans-serif;
  color: #333;
}
body {
  opacity: 0;
}
.fade-in {
  -webkit-animation: fadeIn 0.25s linear forwards;
  -moz-animation: fadeIn 0.25s linear forwards;
  -o-animation: fadeIn 0.25s linear forwards;
  animation: fadeIn 0.25s linear forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  -webkit-animation: fadeOut 0.25s linear forwards;
  -moz-animation: fadeOut 0.25s linear forwards;
  -o-animation: fadeOut 0.25s linear forwards;
  animation: fadeOut 0.25s linear forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: 'open sans', arial, helvetica, sans-serif;
}
h1 {
  font-size: 2em;
  line-height: 1.125em;
}
.btn-cta {
  padding: 0.375rem 2.5rem;
  background: #d84f00;
  border: 0.063em solid #fff;
  color: #fff;
  font-family: 'open sans condensed', 'helvetica neue condensed', arial, helvetica, sans-serif;
  border-radius: 0.375rem;
}
.btn-cta:hover {
  color: #fff;
  text-decoration: underline;
}
/* Small only */
/* Medium and up */
/* Medium only */
/* Large and up */
/* Large only */
