footer {
  padding: 1.25rem 0;
  background: @primary-site-color;
  text-align: center;
  border-top: 0.063rem solid #333;

  .copyright {
    margin-bottom: 0.313em;
    font-size: 0.875em;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  footer br { display: none; }
}