.grid-container {
  &.fluid {
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 100;

    .top-bar {
      background: @nav-color;
        
      .menu.medium-horizontal {
        background: @nav-color;
      }

      .top-bar-right {
        z-index: 100;
      }

      a {
        color: @a-btn-color;
        font-family: @secondary-font-stack;
        -webkit-text-shadow: 0 0 0.5rem rgba(0,0,0,0.8);
        -moz-text-shadow: 0 0 0.5rem rgba(0,0,0,0.8);
        -0-text-shadow: 0 0 0.5rem rgba(0,0,0,0.8);
        text-shadow: 0 0 0.5rem rgba(0,0,0,0.8);

        &:hover {
          text-decoration: underline;
        }

        &.btn-cta {
          background: transparent;
          font-size: 1rem;

          &:hover {
            background: @a-btn-color;
            color: @a-color;
            -webkit-text-shadow: 0 0 0 rgba(255,255,255,0.8);
            -moz-text-shadow: 0 0 0 rgba(255,255,255,0.8);
            -o-text-shadow: 0 0 0 rgba(255,255,255,0.8);
            text-shadow: 0 0 0 rgba(255,255,255,0.8);
          }
        }
      }
      
      .current a {
      
        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }
    }
  }
}

.about {

  .grid-container.fluid {
    .top-bar {
      margin-bottom: 2.25rem;

      .current a {
        color: @current-a-color;
      }

      a {
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        -o-text-shadow: none;
        text-shadow: none;
      }
    }

  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .top-bar {
    a {
      text-align: center;
      font-size: 1.5em;
      line-height: 1.5em;

      &.btn-cta {
        font-size: 1.5em !important;
        line-height: 1.5em;
      }
    }
  }
  
  
  .about .grid-container.fluid .top-bar .current a {
    color: @current-a-color;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .grid-container {
    &.fluid {
      padding: 0;
      position: relative;

      .top-bar {
        background: transparent;
        
        .menu.medium-horizontal {
          background: transparent;
        }
      }
    }
  }

  .about .grid-container.fluid .top-bar {
          background: @primary-site-color;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
  .carousel-container {
    .grid-container.fluid.carousel-cell {
      .cell {
        h1 {
          font-size: 3.25rem;
        }
      }
    }
  }

  .grid-container h3 {
    font-size: 2rem;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}